@import "mixins";

@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/montserrat-v25-cyrillic_latin-500.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-500.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/montserrat-v25-cyrillic_latin-600.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-600.ttf") format("truetype");
}
@font-face {
  font-display: swap;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/montserrat-v25-cyrillic_latin-700.woff2") format("woff2"), url("../fonts/montserrat-v25-cyrillic_latin-700.ttf") format("truetype");
}

body {
  margin: 0;
}

.offer {
  padding: 97px 0 96px;
  background: url("../images/offer-bg-1920.png") center / cover no-repeat;
  overflow: hidden;

  & * {
    box-sizing: border-box;
  }

  @include xl {
    background-image: url("../images/offer-bg-1366.png");
  }

  @include lg {
    padding: 88px 0 91px;
  }

  @include sm {
    padding: 59px 0 0 0;
  }

  @include xs {
    padding: 38px 0 0 0;
  }
}

.offer__container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 15px;

  @include xl {
    max-width: 1310px;
  }

  @include lg {
    max-width: 1054px;
  }

  @include sm {
    max-width: 960px;
  }

  @include sm {
    max-width: 798px;
  }

  @include xxs {
    padding: 0;
  }
}

.offer__title {
  margin: 0 0 55px -3px;
  color: #111;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 127.023%;
  letter-spacing: 1px;

  span {
    display: block;
    width: 100%;
    color: #ec653c;
  }

  @include xl {
    margin-bottom: 67px;
    font-size: 45px;
  }

  @include lg {
    margin-bottom: 62px;
    font-size: 42px;
  }

  @include sm {
    margin-bottom: 47px;
    font-size: 34px;
  }

  @include xs {
    font-size: 27px;
    line-height: 116.523%;
  }

  @include xxs {
    margin-bottom: 38px;
    padding: 0 15px;
  }
}

.offer__list {
  display: grid;
  grid-template-columns: 508px 551px;
  gap: 40px 41px;
  margin-bottom: 97px;

  @include xl {
    max-width: 1010px;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 33px;
    margin-bottom: 93px;
  }

  @include lg {
    gap: 36px 25px;
    margin-bottom: 120px;
  }

  @include sm {
    max-width: 57%;
    grid-template-columns: 1fr;
    gap: 35px 0;
    margin-bottom: 73px;
  }

  @include xs {
    max-width: 83%;
    // margin-bottom: 26px;
    margin-bottom: -12px;
  }

  @include xxs {
    max-width: 100%;
    gap: 26px 0;
    // margin-bottom: 57px;
    padding: 0 15px;
  }
}

.offer__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0 29px;

  @include sm {
    gap: 0 27px;
  }

  @include xs {
    gap: 14px;
  }
}

.offer__image {
  flex-shrink: 0;
  width: 85px;
  height: 85px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include xl {
    transform: translateY(-5px);
  }

  @include sm {
    width: 75px;
    height: 75px;
    transform: translateY(0);
  }

  @include xxs {
    width: 62px;
    height: 62px;
  }
}

.offer__text {
  margin: 0;
  color: #111;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 500;
  line-height: 136.023%;

  @include xl {
    font-size: 20px;
  }

  @include lg {
    font-size: 19px;
  }

  @include sm {
    font-size: 18px;
  }

  @include xs {
    font-size: 15px;
  }
}

.backlink {
  width: max-content;
  padding: 43px 81px 47px;
  border-radius: 8px;
  background: #ec653c;

  @include xl {
    padding: 45px 61px 47px 61px;
  }

  @include lg {
    padding: 43px 40px 47px 40px;
  }

  @include sm {
    width: 100%;
    padding: 37px;
    padding-bottom: 44px;
  }

  @include xs {
    position: relative;
    z-index: 2;
    padding: 31px 15px 35px;
  }
}

.backlink__title {
  margin: 0 0 13px 0;
  color: #fcfcfc;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 87.023%;

  @include lg {
    font-size: 26px;
  }

  @include sm {
    font-size: 24px;
  }

  @include xs {
    margin-bottom: 8px;
    font-size: 23px;
  }
}

.backlink__subtitle {
  margin: 0 0 31px 0;
  color: #fcfcfc;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 120%;

  @include lg {
    margin-bottom: 33px;
    font-size: 16px;
  }

  @include sm {
    margin: 0 0 38px 0;
  }

  @include xxs {
    margin-bottom: 24px;
    letter-spacing: -0.2px;
  }
}

.backlink__form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 25px;
  margin-bottom: 32px;

  @include lg {
    gap: 17px;
  }

  @include sm {
    justify-content: space-between;
  }

  @include xs {
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 14px;
    margin-bottom: 23px;
  }
}

.backlink__input,
.backlink__submit {
  flex-shrink: 0;
  display: block;
  border: none;
  outline: none;
  appearance: none;
  background-color: transparent;
}

.backlink__input {
  width: 241px;
  padding: 14px 23px;
  border-radius: 4px;
  background-color: #d75d38;
  border: 1px solid #d75d38;

  &:focus {
    border: 1px solid #fcfcfc;
  }

  @include lg {
    width: 210px;
  }

  @include sm {
    width: 220px;
    padding: 14px 25px;
  }

  @include xs {
    width: 100%;
    max-width: 545px;
    padding: 11px 14px 11px 13px;
  }
}

.backlink__input,
.backlink__input::placeholder {
  color: #fcfcfc;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 98.023%;

  @include sm {
    font-size: 15px;
  }
}

.backlink__submit {
  padding: 17px 65px 15px;
  border-radius: 93px;
  background-color: #fcfcfc;
  cursor: pointer;
  color: #ec653c;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 98.023%;
  text-transform: uppercase;

  @include lg {
    padding: 17px 49px 15px;
  }

  @include sm {
    flex-grow: 1;
    max-width: 214px;
    padding: 17px 55px 15px;
  }

  @include xs {
    width: 100%;
    max-width: 545px;
    flex-grow: unset;
    padding: 17px 65px 14px;
  }
}

.backlink__confirm {
  color: #ffdbcc;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 98.023%;

  @include xs {
    font-size: 13px;
    letter-spacing: -0.1px;
  }
}

.offer__backlink-wrapper {
  position: relative;
}

.offer__worker {
  position: absolute;
  bottom: -96px;
  right: 30px;
  width: 410px;
  height: 564px;

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  @include xl {
    width: 385px;
    height: 529px;
    right: 10px;
  }

  @include lg {
    width: 337px;
    height: 464px;
    right: 1px;
    bottom: -91px;
  }

  @include r(1060px) {
    width: 318px;
    height: 438px;
  }

  @include sm {
    width: 285px;
    height: 394px;
    bottom: 99%;
    right: 29px;
  }

  @include xs {
    position: relative;
    width: 214px;
    height: 295px;
    bottom: unset;
    right: unset;
    transform: translateY(42px);
    margin: 0 auto;
  }
}

/* Для того, чтобы убрать картинку рабочего на ширине экрана 767px и менее, необходимо раскомментировать следующий код: */

// .offer__worker {
//   @include xs {
//     display: none;
//   }
// }

// .offer__list {
//   @include xs {
//     margin-bottom: 57px;
//   }
// }
